@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5EF;
}

.navbar {
    background-color: #317AFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #295cbd;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links a {
    margin: 0 10px;
}

.navbar .contact-btn {
    background-color: #2ED9C3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar .contact-btn:hover {
    background-color: #2ED9C3;
}

/* Documentation Section */
.documentation {
    padding: 40px;
    background-color: #ffffff;
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    color: #317AFD;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    cursor: pointer;
}

.tag, .property {
    font-weight: bold;
    font-size: 18px;
    color: #1F284F;
    margin-bottom: 10px;
}

.description {
    display: none;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.description p, .description code {
    font-size: 16px;
}

.description code {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h3 {
    color: #007BFF;
}

.footer-section h3 span {
    color: #f00;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section a {
    display: block;
    margin: 5px 0;
    color: #007BFF;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section .contact-info p {
    margin: 5px 0;
}

.footer-section .contact-info p span {
    font-weight: bold;
}
